{
    "server": {
        "imageRef": "19bf08e6-5faa-49c8-9b9d-13cd7c93e6f2",
        "host_group_id": ":900922A_7869180",
        "block_device_mapping_v2": [],
        "availability_zone": "",
        "max_count": 1,
        "flavor": {
            "extra_specs": {
                "powervm:processor_compatibility": "default",
                "powervm:max_proc_units": "2",
                "powervm:srr_capability": "false",
                "powervm:storage_connectivity_group": "66dca22e-2816-428d-8c26-cb776b12e004",
                "powervm:shared_weight": "128",
                "powervm:min_mem": "12288",
                "powervm:max_mem": "20480",
                "powervm:secure_boot": "0",
                "powervm:uncapped": "true",
                "powervm:enable_lpar_metric": "false",
                "powervm:proc_units": "1",
                "powervm:dedicated_proc": "false",
                "powervm:max_vcpu": "8",
                "powervm:availability_priority": "127",
                "powervm:shared_proc_pool_name": "DefaultPool",
                "powervm:min_proc_units": "0.5",
                "powervm:enforce_affinity_check": "false",
                "powervm:min_vcpu": "2",
                "powervm:ame_expansion_factor": "0"
            },
            "vcpus": 4,
            "disk": 450,
            "ram": 16384
        },
        "name": "DR-GTSLAP{{ 101 | random }}",
        "networks": [{
                "uuid": "833a893b-6b29-4ed9-a41c-eb42bbc4a103"
            }
        ],
        "config_drive": true
    }
}
