
{
    "server": {
        "imageRef": "bda14ad4-6f1f-487e-953d-b88196fac29e",
        "host_group_id": ":900922A_78691D0",
        "block_device_mapping_v2": [],
        "availability_zone": "",
        "max_count": 1,
        "flavor": {
            "extra_specs": {
                "powervm:processor_compatibility": "default",
                "powervm:max_proc_units": "3",
                "powervm:srr_capability": "false",
                "powervm:storage_connectivity_group": "66dca22e-2816-428d-8c26-cb776b12e004",
                "powervm:shared_weight": "128",
                "powervm:min_mem": "24576",
                "powervm:max_mem": "37888",
                "powervm:secure_boot": "0",
                "powervm:uncapped": "true",
                "powervm:availability_priority": "127",
                "powervm:proc_units": "2",
                "powervm:dedicated_proc": "false",
                "powervm:max_vcpu": "12",
                "powervm:enable_lpar_metric": "false",
                "powervm:shared_proc_pool_name": "DefaultPool",
                "powervm:min_proc_units": "1",
                "powervm:enforce_affinity_check": "false",
                "powervm:min_vcpu": "4",
                "powervm:ame_expansion_factor": "0"
            },
            "vcpus": 8,
            "disk": 200,
            "ram": 36864
        },
        "name": "DR-PIBMAP1P_DR{{ 101 | random }}",
        "networks": [{
                "uuid": "833a893b-6b29-4ed9-a41c-eb42bbc4a103"
            }
        ],
        "config_drive": true
    }
}
